$animate: all 0.2s ease-in-out;
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 990px;
    }
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.wraper {
    width: 100%;
    .header {
        width: 100%;
        height: 75px;
        background-color: #525355;
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .logo {
                // position: absolute;
                // display: flex;
                // top: 50%;
                // left: 50%;
                // transform: translate(-50%, -50%);
                img {}
            }
            .socialmedia {
                img {
                    width: 60px;
                    height: 20px;
                }
                // float: right;
                // margin-right: 237px;
                // top: 50%;
                // display: flex;
                // position: relative;
            }
            .navmenu {}
        }
    }
    .menu {
        margin-top: 39px;
        .container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: #171717;
                font-weight: bold;
                font-size: 12px;
            }
            ul li {
                display: inline-table;
            }
            .hover {
                margin: 0 auto;
                padding: 0;
                transition: $animate;
                position: relative;
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    bottom: -10px;
                    width: 0px;
                    height: 3px;
                    margin: 5px 0 0;
                    transition: $animate;
                    transition-duration: 0.75s;
                    opacity: 0;
                    background-color: darken(orange, 5%);
                }
                &.hover-1 {
                    &:before,
                    &:after {
                        left: 0;
                    }
                }
                &.hover-2 {
                    &:before {
                        left: 50%;
                    }
                    &:after {
                        right: 50%;
                    }
                }
                &.hover-3 {
                    &:before {
                        left: 0;
                    }
                    &:after {
                        right: 0;
                    }
                }
            }
            .menu-left {
                float: left;
                li {
                    &:hover {
                        cursor: pointer;
                        .hover {
                            &:before,
                            &:after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .menu-center {
                text-align: center;
                li {
                    padding: 0px 65px;
                    &:hover {
                        cursor: pointer;
                        .hover {
                            &:before,
                            &:after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
            .menu-right {
                float: right;
                li {
                    &:hover {
                        cursor: pointer;
                        .hover {
                            &::before,
                            &::after {
                                width: 100%;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .body {
        .container {
            width: 100%;
            height: 100%;
            padding-right: 60px;
            padding-top: 20px;
            .title {
                text-align: center;
                justify-content: center;
                padding-top: 30px;
                display: flex;
                align-items: center;
                flex-direction: column;
                .p3 {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    transform: scaleY(1.5);
                    display: inline-block;
                    letter-spacing: 7px;
                    font-weight: bold;
                    font-size: 20px;
                    span {
                        background-color: yellow;
                    }
                }
                .p4 {
                    width: 900px;
                }
                hr {
                    width: 320px;
                    margin-top: 63px;
                }
            }
            .tab {
                margin-top: 53px;
                margin-bottom: 25px;
                display: flex;
                justify-content: center;
                text-align: center;
                overflow: hidden;
                .active {
                    color: black;
                }
                button {
                    padding: 0px 20px;
                    background: none;
                    border: none;
                    cursor: pointer;
                    outline: none;
                    color: #898989;
                    transition: 0.3s;
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
            .tabcontent {
                display: none;
                .category_product {
                    display: flex;
                    width: 100%;
                    flex-wrap: wrap;
                    .product {
                        width: 33.333%;
                        padding: 0px 10px;
                        box-sizing: border-box;
                        margin-bottom: 70px;
                        .border_product {
                            justify-content: center;
                            display: flex;
                            flex-direction: column;
                            line-height: 30px;
                            align-items: center;
                            img {
                                width: 100%;
                                margin-bottom: 40px;
                            }
                            .underline_prodcut {
                                height: 3px;
                                width: 16px;
                                background-color: #ffde00;
                            }
                        }
                        &:hover {
                            border: 3px solid rgb(147, 252, 144);
                            border-radius: 10px;
                            box-shadow: 0px 0px 10px springgreen;
                            transition: 0.1s;
                        }
                    }
                }
                .btn-show-all {
                    justify-content: center;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    cursor: pointer;
                }
            }
        }
    }
    .d-none {
        display: none;
    }
}