.wrap {
    margin: auto;
    background-color: #00B0F0;
    width: 100%;
    min-height: 100vh;
    position: relative;
}


/* Logo */

.logo {
    width: 290px;
    height: 290px;
    border: 7px solid #ffffff;
    border-radius: 50%;
    position: relative;
    transform: rotate(-15deg);
}

.logo .slogan {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 7%;
}

.logo .nameEvent {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    bottom: 1%;
    white-space: nowrap;
}

.logo .text-logo {
    color: #ffffff;
    white-space: nowrap;
    font-family: 'HGS創英角ﾎﾟｯﾌﾟ体', serif, Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 7px rgba(66, 64, 64, 0.8);
}

.logo .slogan .text-logo {
    font-size: 30px;
    line-height: 40px;
}

.logo .nameEvent .text-logo {
    font-size: 65px;
    line-height: 70px;
}